*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2rem;
    background: #ffffff;
}

header{
    padding: 1.4rem;
    background: transparent;
    backdrop-filter: blur(30px);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    color: #fff;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

ul li{
    color: #0a0a0a;
}

main{
    min-height: 100vh;
    background-image: url(alexander-psiuk-lX8R7OoR6r8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; 
  background: linear-gradient(to top,
    rgb(211, 211, 211) 0%,
    rgba(193, 193, 193, 0.8) 30%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0) 100%
  );
} */

main .container{
    padding: 2rem;
    color: #fff;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    width: 100%;
}

.container h1{
    font-size: 6vw;
    line-height: 8vw;
    transform: translateY(200px);
    opacity: 0;
}

.container button{
    outline:  none;
    border: none;
    padding: 0.8rem 1.2rem;
    background: #ff2b1c;
    color: #fff;
    transform: translateY(200px);
}

.sub-container{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;

}

section{
    height: 100vh;
    /* background-color:rgba(193, 193, 193, 0.8); */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1.4rem;
    flex-wrap: wrap;
}

section .section-container {
    background: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(30px);
    padding: 1.2rem 2rem;
    width: 20%;
    height: 40%;
    flex: 1 1 250px;
    transform: translateY(100px);
    opacity: 0;
}

.section-container h2{
    text-align: left;
    margin-bottom: 1.4rem;
    line-height: 2rem;
}

.section-container p{
    color: #2c2c2c;
    font-weight: 400;
}