*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    width: 100%e;
}

body{
    background-color: #f6f6f6;
}

main{
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: 15vh 0;
}

.card{
    background-color: #929292;
    padding-bottom: 2rem ;
    position: sticky;
    top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 18px;
}

.card h1{
    color: #191919;
    text-align: center;
    font-size: 4vw;
}

.card p{
    color: #1c1c1c;
    text-align: center;
    max-width: 250px;
}

.card img{
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}


section {
    min-height: 100vh;
    background-color: lightblue;
}

.wrapper{
    height: 100vh ;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}

.mid-heading {
    font-size: 6vw;
    font-weight: bold;
    span{
        color: red;
    }
}

.para{
    padding: 0.8rem;
}

.para p{
    font-size: 1.4rem;
    color: #2a2a2a;
    font-weight: 400;
}

.mid-btn{
    border: 2px solid red;
        position: relative;
        background-color: red;
        width: 200px;
    button{
        border: none;
        outline: none;
        padding: 0.8rem 1.2rem;
        background-color: red;
        color: #fff;
        border-radius: 18px;
    }
}

.mid-btn::after{
    content: '';
    height: 80%;
    width: 20%;
    position: absolute;
    background-color: rgb(255, 249, 249);
    top: 50%;
    right: 14%;
    transform: translateY(-50%);
    border-radius: 50%;
}