*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    width: 100%e;
}

body{
    background-color: #000000;
}

main{
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: 15vh 0;
    border: 2px solid red;
}

.card{
    background-color: #fff;
    padding-bottom: 2rem ;
    position: sticky;
    top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card h1{
    color: #191919;
    text-align: center;
    font-size: 4vw;
}

.card p{
    color: #1c1c1c;
    text-align: center;
    max-width: 250px;
}

.card img{
    height: 200px;
    width: 350px;
    object-fit: cover;
}