*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

ul li{
    font-size: 1.2rem;
    color: #000000;
}
